<a href="http://www.matchpuppy.com"><img src="http://matchpuppy.herokuapp.com/assets/email_logo.png"></a><br/></br/>


<p><strong>Hi <%= @user.name %>,</strong></p>
<p>
Thanks for signing up for MatchPuppy! Your account has been created successfully – you can now connect with other dog owners and schedule playdates.
</p>
<p>
If you have any questions, please either refer to our FAQ’s page or feel free to contact us at woof@matchpuppy.com.
</p>
<p>
Thanks,<br/>
- The MatchPuppy Team
</p>