<a href="http://www.matchpuppy.com"><img src="http://matchpuppy.com/assets/logo_beta.png"></a><br/></br/>

<p><strong>Hi <%= @user.name %>,</strong></p>
<p>
Thanks for signing up for MatchPuppy! Your account has been created successfully – you can now connect with other dog owners and schedule playdates.
</p>
<p>
<a href="http://matchpuppy.com/contact">Contact us</a> if you have any questions or comments. 
</p>
<p>
Thanks,<br/>
- The MatchPuppy Team
</p>