<% content_for :title, "Title for specific page" %>


<div class="page-header">
<h1>Dogs</h1>
</div>


<div class="row">

<div class="span3">

	<ul class="nav nav-list">
		<li class="nav-header">Breed</li>
	  	<li ><a href="#">Beagle</a></li>
		<li><a href="#">Boxer</a></li>
	  	<li class="active"><a href="#">Bulldog</a></li>
		<li><a href="#">Chihuahua</a></li>
		<li><a href="#">Golden Retriver</a></li>
		<li class="nav-header">Size</li>
	  	<li class="active"><a href="#">Small</a></li>
		<li><a href="#">Medium</a></li>
	  	<li><a href="#">Large</a></li>
		
		<li class="nav-header">Gender</li>
	  	<li><a href="#">Male</a></li>
		<li><a href="#">Female</a></li>
	  
	</ul>

</div>

<div class="span9">
<ul class="thumbnails">
<%= render @dogs %>
</ul>


<ul class="pager">
  <li class="previous">
    <a href="#">&larr; Older</a>
  </li>
  <li class="next">
    <a href="#">Newer &rarr;</a>
  </li>
</ul>
</div>
</div>


