<ul class="nav pills">
  <li class="active"> 
    <a href="#">Step 1. Tell us About your Dog</a>
  </li>
  <li > <a href="#">Step 2. Find dog parks you love</a></li>
  <li><a href="#">Step 3. Schedule or Join a Playdate</a></li>
</ul>


<div class="page-header">
<h1>Tell us about your dog</h1>
</div>

<%= render 'form' %>


