<ul class="unstyled">
<li>
<a href="<%= playdate_path(playdate) %>" ><strong><i class="icon-calendar"></i> <%=l playdate.play_date, :format => :playdatetime  %></strong></a></li>
<li><i class="icon-leaf"></i> <%= link_to playdate.park.name, playdate.park %></li> 
<li><p>(<%= pluralize(playdate.playdate_guests.yes.count, 'dog') %> coming)</p></li>
</ul>

 