<div class="page-header">
<h1>Scheduled playdates</h1>
</div>


<table style="width:100%" class="table table-bordered">
	
	
	<tr> 
		<td><h4>22</h4></td>
		<td><h4>23</h4></td>
		<td><h4>24</h4></td>
		<td><h4>25</h4></td>
		<td><h4>Today - Thu Jan 26</h4>
		<ul class="unstyled">
		<% @playdates.each do |playdate| %>
			<li><%= link_to playdate.play_date, playdate %> - <%= playdate.park.name %> (<%= playdate.dogs.count %> dogs coming)</li>
		<% end %>	
		</ul>
		</td>
		<td><h4>27</h4></td>
		<td><h4>28</h4></td>
	</tr>
	<tr>
		<td><h4>29</h4></td>
		<td><h4>30</h4></td>
		<td><h4>31</h4></td>
		<td><h4>1</h4></td>
		<td><h4>2</h4></td>
		<td><h4>3</h4></td>
		<td><h4>4</h4></td>
	</tr>

</table>




<br />

<div class="form-actions">

<%= link_to 'Schedule a New Playdate', new_playdate_path, :class => "btn primary" %>
</div>