
<div class="page-header">
<h1>Upcoming playdates</h1>
</div>

<Div class="well">
<%= render @playdates %>
</div>

<div class="form-actions">

<%= link_to 'Schedule a New Playdate', new_playdate_path, :class => "btn btn-primary" %>
</div>