<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>





<div class="page-header">
<h1>"It's a Dog Meet Dog World!"</h1>
</div>

<div class="row">

<div class="span8">


	<h3>
		A brand new way for you and your dog to meet new friends in your neighborhood.
	</h3>
	
	<hr/>
	
	<h2>Real dogs looking for playdates</h2>

	
	<ul class="thumbnails">
	
		<%= render @dogs %>
	</ul>




</div>
<div class="span4">


<div class="well">
	<h2>Sign-up</h2>
<%= render 'form' %>
</div>
</div>
</div>

