

<div class="row" style="margin-top:20px">

<div class="span8">

<div class="well">
	<h1 style="color:#FB0086">"It's a Dog Meet Dog World!"</h1>

	<h3>
		A brand new way for you and your dog to meet new friends in your neighborhood.
	</h3>
	
</div>
	

	<h2>Real dogs looking for playdates</h2>

	<div id="dogs-container" style="margin-left:-20px">
	<ul class="thumbnails" >
	
		<%= render @dogs %>
	</ul>
	</div>





</div>
<div class="span4">


<div class="well">
	<h2 class="signup">Sign-up for the BETA</h2>
	
<%= render 'form' %>
</div>
</div>
</div>

