<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>





<div class="page-header">
<h1>It's a Dog Meet Dog World!</h1>
</div>

<div class="row">

<div class="span9">


	<p>
		A brand new way for you and your dog to meet new friends in your neighborhood.
	</p>
	
	
	
	<h3>Real dogs looking for playdates</h3>

	
	<ul class="thumbnails">
	
		<%= render @dogs %>
	</ul>




</div>
<div class="span3">


<div class="well">
	<h2>Sign-up is free</h2>
<%= render 'form' %>
</div>
</div>
</div>

