<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>





	

<div class="row">

<div class="span8">
	
	<h2>It's a Dog Meet Dog World!</h2>
	<p>
		A brand new way for you and your dog to meet new friends in your neighborhood.
	</p>
	
	
	<h3>Real dogs looking for playdates</h3>
	
	<ul class="thumbnails">
	<% @dogs.each do |dog| %>

	  
	<li class="thumbnail">
		<a href="<%= user_dog_path(dog.user, dog) %>"><%= image_tag dog.avatar.url(:thumb) %></a>
	</li>


<% end %>
</ul>




</div>
<div class="span4">
<h2>Sign-up is free</h2>

<div class="well">
<%= render 'form' %>
</div>
</div>
</div>

