<% if notice %>
<div class="alert">
<%= notice %>
</div>
<% end %>


<div class="page-header">
<h1>It's a Dog Meet Dog World!</h1>
</div>


	

<div class="row">

<div class="span8">
	<p>
		Welcome to MatchPuppy! A brand new place where you and your dog connect and share with friends!
	</p>
	
	
	<h3>Real dogs looking for playdates</h3>
	
	<ul class="thumbnails">
	<% @dogs.each do |dog| %>

	  
	<li class="thumbnail">
		<a href="<%= user_dog_path(dog.user, dog) %>"><%= image_tag dog.avatar.url(:thumb) %></a>
	</li>


<% end %>
</ul>

</div>
<div class="span4">
<h2>Sign-up</h2>

<div class="well">
<%= render 'form' %>
</div>
</div>
</div>

