<div class="page-header">
<h1>FAQ’s</h1>
</div>

<h3>What is MatchPuppy?</h3>
<p>
We’re a social networking site that connects dog owners in new and more meaningful ways. Owners can arrange playdates, find matches for breeding their pet or just meet up with other dog owners. 
<p>

<h3>How Does MatchPuppy Work?</h3>
<p>
Easy, just sign up and complete your profile form. Once you’re done, you can find your favorite dog parks, schedule playdates with other users or join upcoming playdates. On the big day, make sure to take lots of pictures and share them with your friends and family and let us know how it went. 
</p>
<h3>How Much Does It Cost?</h3>
<p>MatchPuppy costs as much as a dog’s love, priceless but absolutely free :)</p>

<h3>Any Other Questions?</h3>
<p>
For any other questions, or to <A href="/contact">get in touch with us</a></p>
