<div class="page-header">
	<h1>Coming Soon</h1>
</div>

<div class="well">
	<h1>"It's a Dog Meet Dog World!"</h1>
	<h3>A brand new way for you and your dog to meet new friends in your neighborhood.</h3>
</div>

<div style="height:300px">
	</div>