<div class="page-header">
	<h1>Privacy Policy</h1>
</div>
<div class="well">
<p>
By visiting or using MatchPuppy.com, you consent to the data collection and use practices described in this policy.</p>
<h3>1. COLLECTION OF INFORMATION</h3>
<ol>
	<li>Purpose. Users can access limited features of this website without disclosing personal information. In order to access the entire website, users must register for an account, which will provide the registrant with full access to the website.</li>
<li>Information Sought During Registration. During the account registration process, you will be asked to submit personal information, including your proper name and at least one active e-mail address. At this time, you will also have the opportunity to subscribe to any and all website newsletters regarding MatchPuppy’s product news, services and special offers or events. Registrants can also unsubscribe to these newsletters at any time by updating registration account information online.</li>
<li>Information Sought During Website Sweepstakes or Contests. When the website offers sweepstakes or contests, personal information is collected with the sole purpose of notifying you if you win the sweepstakes or contest.</li>
<li>Automatically Collected Information. Information concerning your computer hardware and software is automatically collected and may be shared with other MatchPuppy websites. This information may include: your IP address, browser type, domain names, access times and referring website addresses. MatchPuppy uses this information to maintain the quality of its service and to provide general statistics about website visitors.</li>
<li>Storage and Transfer of Personally Identifiable Information. MatchPuppy may store and process in the United States or any other country in which MatchPuppy or its affiliates, subsidiaries, or agents maintain facilities. By using MatchPuppy’s websites, you consent to any such transfer of information outside of your country.</li>
</ol>

<h3>2. USE OF AND SHARING OF INFORMATION</h3>
<p>
MatchPuppy collects and uses your personal information in order to operate the web sites and to provide its online and electronic services. The collection of your e-mail address, name and address during account registration enables MatchPuppy to send you any requested newsletter(s) or to send you any requested mailings or offers. Information concerning your geographical location is used to determine if MatchPuppy should provide regionalized information to its customers. When you voluntarily enter a sweepstakes or contest, we request your e-mail address and other contact information in order to be able to contact you in the event you are a winner of the sweepstakes or contest. Except as otherwise stated below, the personal information you provide on this site will not be shared with any third-parties, although MatchPuppy reserves the right to share such information with its affiliates and subsidiaries without your permission.
</p>
<p>
MatchPuppy sometimes hires other companies to provide limited services on our behalf, such as sending newsletters, providing customer service, and performing statistical analysis of our services. We will only provide those companies with the information that they need to provide us with such services, and we prohibit them from using that information for any other purpose.</p>
<p>
MatchPuppy’s websites reserve the right to disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on MatchPuppy or the site; (b) protect and defend the rights or property of MatchPuppy or one of MatchPuppy’s websites; and, (c) act under exigent circumstances to protect the personal safety of users of MatchPuppy, its websites, or the public.
MatchPuppy provides links to send e-mail messages to this website for your convenience and your e-mail address is used so that this website may reply to your inquiry. MatchPuppy tracks the pages on this website that our customers visit in order to determine which areas of the site are the most popular. This data is used to deliver customized content and advertising within the website to customers whose behavior indicates that they are interested in a particular subject area.</p>

<h3>3. INFORMATION FROM OTHER SOURCES</h3>
<p>
We sometimes supplement the information that we receive that has been outlined in this Policy with information from other sources and companies. Such outside information includes updated delivery and address information from carriers or third parties, which enables us to correct our records and deliver future communications more easily; account information, redemption information, and page-view information from some merchants with which we operate co-branded businesses or for which we provide technical, fulfillment, advertising, or other services; search term and search result information from some searches conducted through the Web search features; search results and links, including paid listings (such as Sponsored Links from Google).</p>
<h3>4. INFORMATION SECURITY</h3>
<p>
MatchPuppy’s sites secure the e-mail address you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use or disclosure. If you choose to create a profile on MatchPuppy’s websites or if you choose to register for an account, you will be required to select a password. This password can be changed at any time after you first log into the service by using your current password. You must keep your password confidential and you must not share this information with anyone. If you share a computer with anyone, you should always log out of the website before leaving it to prevent access to your information from subsequent users of that computer.
</p>
<h3>5. USE OF COOKIES</h3>
<p>
This website uses cookies to assist you with making your online experience more individualized. A cookie is a text file that is placed on the hard disk of your computer by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
</p>
<p>
Cookies are used for convenience and to save you time when you next visit this website. The purpose of a cookie is to tell the web server that you have returned to a specific page, so that when you visit the site again, the experience will be personalized. You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to set your computer to accept cookies from this website, you may also choose to be logged into the site automatically. If you choose to decline cookies, you may not be able to fully experience the interactive features of this website or the other websites that you visit and you may experience technical problems receiving current information from such cookie-disabled websites.</p>
<h3>6. USE OF WEB BEACONS</h3>
<p>
MatchPuppy’s website pages may contain electronic images known as web beacons—also referred to as single-pixel gifs—that permit MatchPuppy to count users who have visited those pages and for other related website statistics (e.g., recording the popularity of certain website content and verifying system and server integrity). Web beacons are not used to access your personal information on MatchPuppy’s websites; they are solely used to compile aggregated statistics concerning the use of the MatchPuppy’s websites. Web beacons collect only a limited set of information including a cookie number, the time and date of a page view, and a description of the page on which the web beacon resides.
</p>

<h3>7. COMMUNITIES AND FORUMS OFFERED ON THIS WEBSITE</h3>
<p>
Any personally identifiable information or personally sensitive data that you disclose through the Communities, Forums, Message Boards, Chat Rooms, or other public online forums hosted on this website, may be collected and used by others. We recommend caution when giving out personal information to others in these public online forums. MatchPuppy encourages you to review the privacy statements of Websites you choose to visit via hyper-links posted on this website so that you can understand how those websites collect, use and share your information. MatchPuppy is not responsible for the privacy policies or other content on third-party websites accessed through MatchPuppy’s website.
</p>
<h3>8. USER ACCESS TO AND CONTROL OF INFORMATION</h3>
<p>
You can access some of the information that we collect and process about you. For example, you can access information regarding personally identifiable information (including name, e-mail, password, communications preferences, address book) and e-mail notification settings.
With respect to your communications preferences, you can unsubscribe from newsletters by following the instructions included in the newsletter you receive. If your e-mail address has changed and you would like to continue to receive newsletters, you will need to access your account and update your e-mail address information in your account and sign-up again for the newsletter. Occasionally, MatchPuppy will send out e-mails concerning website disruptions, new products and other news about MatchPuppy’s products and services. These e-mails are sent to all account holders and are not subscription-based. Such e-mails are considered a part of MatchPuppy’s service to the users of its website.
</p>

<h3>9. CHILDREN</h3>
<p>If you are under 18, you may not use this website. This website is intended for the use of adults only.</p>

<h3>10. SAFE HARBOR</h3>
<p>MatchPuppy is a participant in the Safe Harbor program developed by the U.S. Department of Commerce and the European Union. We have certified that we adhere to the Safe Harbor Privacy Principles agreed upon by the U.S. and the E.U. For more information about the Safe Harbor and to view our certification, visit the U.S. Department of Commerce's Safe Harbor website. If you would like more information about the Safe Harbor program, please visit the website at http://www.export.gov/safeharbor.</p>

<h3>11. CONDITIONS OF USE, NOTICES, AND REVISIONS</h3>
<p>This Privacy Policy will be governed and interpreted pursuant to the laws of the State of New York, United States of America, notwithstanding any principles of conflicts of law. You specifically consent to personal jurisdiction in the State of New York in connection with any dispute between you and MatchPuppy arising out of this Privacy Policy or pertaining to the subject matter hereof. The parties to this Privacy Policy each agree that the exclusive venue for any dispute between the parties arising out of this Privacy Policy will be in the state and federal courts located in the County of New York in the State of New York.</p>
<p>This Privacy Policy applies only to MatchPuppy’s websites and not to any third-parties that may be accessed through hyper-links on this website. MatchPuppy reserves the right to occasionally update this Privacy Policy. At such time, MatchPuppy will also revise the “last updated” date at the end of the Privacy Policy. For material changes to this Policy, MatchPuppy will notify you by placing prominent notice on the website. We recommend that you periodically review this Privacy Policy.</p>

<h3>12. CONTACT INFORMATION</h3>
<p>MatchPuppy welcomes feedback regarding this Privacy Policy. If at any time you believe that this website has not adhered to this Privacy Policy, please contact MatchPuppy and we will use all commercially reasonable efforts to promptly determine and correct the problem. E-mail should be sent to privacy@matchpuppy.com</p>

<h3>13. YOUR CALIFORNIA PRIVACY RIGHTS</h3>
<p>California Civil Code §1798.83 permits our visitors who are California residents to request certain information regarding their disclosure of personal information to third parties for their direct marketing purposes. To make such a request, please send an e-mail to [E-mail address] or write us:</p>
<p>MatchPuppy Privacy Rights<br/>
419 Lafayette Street (2nd Floor),<br/> 
New York, NY 10003
</p>
<p>Updated 8-8-2011</p>
</div>