

header {
	background: url('/assets/header.png') repeat-x;
	height: 65px;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;

	left: 0;

}

header img {
	padding-top:10px;

}

footer .container {
	color: white;
	background-color:#07324A;
	padding:15px 20px 0 20px;
}

body {
	margin-top:10px;
	
	
	background: #43B69A url("/assets/background.png");
	background-repeat: repeat-x;

	background-color:#00BC9D;
	height:100%;
	
	
}

.container {
	
	
	
	padding:0px;
	
}

.main-container {
	padding:20px;
	padding-top:45px;
	background-color:white;
	background: url("/assets/translucent.png");
	
}

.page-header {
	margin: 18px 0;
	border-bottom: 1px solid #EEE;
}

.page-header h1 {
	margin-bottom: 17px;
	line-height: 1;
}

h1 {
	color: #FB0086;
	
}

#login_nav a {
	position:absolute;
	top:15;
	left:1000;
	color:white;
	
}

.thumb {
	float:left;
	margin:10px;
	
	
}

hr {
	clear:left;
	
}


/* Top Menu */

.menu-nav {
	
	margin-top:10px;
}

#account-menu {
	
	
}

#account-menu a, #account-menu a:hover, #account-menu a:visited, #account-menu a:link {

}
