

header {
	background: url('/assets/header_background.png') repeat-x;
	height: 65px;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;

	left: 0;
	z-index:20;

}

#main {

	
}

.navbar-inner {
	
	background: url('/assets/header_background.png') repeat-x;

	box-shadow:none;
	-webkit-box-shadow:none;*/
}

.navbar .nav > li > a, .navbar .nav > li > a:visited, .navbar .nav > li > a:link {
	
	padding: 5px 10px 6px;
	margin:10px 10px;
	color:white;
}

.navbar .nav > li > a:hover {
	background:none;
}

.navbar, navbar-inner {
	
	margin-top:0px;
}

footer {
	position:relative;
	
	background-color:#07324A;

	width:100%;

	z-index:30;
	margin-top:-0.1%;
	
}

.footer {
	background-color:#07324A;
}

footer a, footer a:hover, footer a:link, footer a:visited {
	color:white;
	font-weight:bold;
}




footer .container {
	color: white;
	
	padding:15px 20px 0 20px;
}

body {
	margin-top:20px;
	background-color:#65d3c6
	height:100%;
	
		background: #65d3c6 url("/assets/background.png");



		background-position: bottom center;
	  background-repeat: no-repeat;
	height:100%;
	min-height:700px;

	
	
}

input {
	
	width:95%;
}

body#homepage {

	
	
	
}


#balloon {
	position:fixed;
	z-index:-10;
	top:-30%;

	margin-left: auto;
	margin-right: auto;
	padding-left:400px;
}



.container {
	
	position:relative;
	padding:0px;
	
}



.main-container {
	padding:20px 20px;
	padding-top:45px;
	
	z-index:10px;
	position:relative;

	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:600px; /* real browsers */
	
	/* background: url('/assets/translucent.png'); */
	
}




.navbar .nav-collapse  {
	
	background-color:#0A324A;
}





#fence {
margin-top:-250px;
	z-index:30;
	position:relative;
	margin-left: auto;
  margin-right: auto;
width:100%;
display:none;

}

#fence img {
	
	margin-left: auto;
  margin-right: auto;
}


div#bottom-section {

	display: block;
	height:250px;
}


.page-header {

}

.page-header h1 {

}

h1 {
	color: #07324A;
	
}

#login_nav a {
	position:absolute;
	top:15;
	left:1000;
	color:white;
	
}

.thumb {
	float:left;
	margin:10px;
	
	
}

.well {
	
	background: url('/assets/translucent.png');
	
	
}

hr {
	clear:left;
	
}

.thumbnail {
	
	background-color:white;
	
}


form.invite {
	
	margin:7px 0 0;
}


/* Top Menu */

.menu-nav {
	
	margin-top:15px;
}

.navbar .nav {
	
	margin-top:3px;
}

#account-menu {
	color:white;
	font-weight:bold;
	
}

#account-menu a, #account-menu a:hover, #account-menu a:visited, #account-menu a:link {

}

/* Forms */

label {
	
	font-weight:bold;
}

input[type="radio"] {
	display:inline;
	
}

textarea {
	width:100%;
	height:50px;
	
}



.nav-pills li a, .nav-pills li a:hover {
	
	background-color:#D9E3E2;
	color:#AFAFAF;
	
}

.nav-pills {
	
	margin-top:8px;
}



/* popovers */

.popover-title {
	background-color:white;
	border:none;
	padding: 9px 15px 0px 15px;
	
}

.popover-inner{
	
background: #07324A;
}


@media (max-width: 480px) { 
	.fdbk_tab_right {
		display:none;
	
	}
	
	#fence {
	margin-top:-100px;
	}
	
	.spacer {
		height: 50px;
	}
	
	footer {
		
	}
}



@media (min-width: 1200px) {
	
	
	#fence {
	margin-top:-350px;
	}
	
	.spacer {
		height: 300px;
	}
	
	footer {
		
	}
}
