<% if notice %>
<div class="alert alert-success">
<%= notice %>
</div>
<% end %>


<section>

<div class="page-header">
<h1>Sign In</h1>
</div>

<div class="row">
	<div class="span2">
		&nbsp;
	</div>
	<div class="span4">
<%= render 'form' %>
</div>
</div>

</section>