<% if current_step != nil %>

<ul class="nav nav-pills">
	<li <% if current_step == 1 %>class="active"<% end %>> 
		<a href="#">
			<% if current_step > 1 %><del>Step 1. Tell us About your Dog</del><% else %> <strong>Step 1.</strong> Tell us About your Dog<% end %>
		</a>
	</li>
	<li <% if current_step == 2 %>class="active"<% end %>>
		<a <% if current_step == 2 %>href="/park"<% else %>href="#"<% end %>>
			<% if current_step > 2 %><del>Step 2. Find dog parks you love</del> <% else %><strong>Step 2.</strong> Find dog parks you love <% end %>
		
		</a>
	</li>
	<li <% if current_step == 3 %>class="active"<% end %>>
		<a <% if current_step == 3 %>href="/playdates/new"<% else %>href="#"<% end %>><strong>Step 3.</strong> Schedule or Join a Playdate</a>
	</li>

</ul>
<% end %>